html {
  background-color: #feffea;
  background-image: -webkit-linear-gradient(75deg, #ffed78 10%, #feffea 20%);
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1 {
  color: #586b8f;
  margin:auto;
  padding-bottom: 20px;
  padding-left: 20px;
}

h2{
  color: #586b8f;
  margin:auto;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}



#heading {
  background-color: #addce4;
  text-align: center;
}


.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #addce4;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #ffed78;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #586b8f;
}

form.item {
  text-align: center;
  margin-left: 20px;
  color: #586b8f;

}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #addce4;
  color: #586b8f;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

#addItem[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
  color: #586b8f;

}

#addItem[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #ffed78;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: #addce4;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  bottom:0;
  width: 100%;
  height: 100px;


  position:fixed;
  z-index:150;
  _position:absolute;
  _top:expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)));
    height:50px;
}

.firstPage {
  position: fixed; /* or absolute */
  top: 30%;
  left: 40%;
}

#keyProject {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top:50px;
  margin-left: 3%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  background: transparent;
  border: none;
}

#keyProject:focus{
  background: #ffed78;
  border-radius: 5px;
  width: 400px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  outline: none;
}


#firstPageInput {
    width: 400px;
    padding: 15px 0 15px 10px;
    font-family: "helvetica neue";
    font-weight: 400;
    background: #ffed78;
    border: none;
    outline: none;
    color: #586b8f;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    outline: none;
    border-radius: 5px;
    text-indent: 20px;
    transition: all .3s ease-in-out;
    position: relative;
    font-size: 13px;
}

#firstPageInput:focus{
    text-indent: 5px;
}
